* {
  box-sizing: border-box;
}

nav {
  background-color: black;
  padding: 1rem;
}

li {
  border: 0.1px solid transparent;
  padding: .5rem 1rem;
  text-align: center;
}

a {
  text-decoration: none;
  color: white;
  font-family: Arial;
  display: block;
}

li a:hover{
  color: gray;
  transition: color .2s ease-in-out;
}

li.active {
  border: 1px solid hsla(0,0%,100%,.2);
  border-radius: 9999px;
  color: black;
}

.active:hover {
  background-color: white;
}

@media (min-width: 600px) {
  nav {
    position: fixed;
    top:0;
    left:0;
    width: 100%
  }
  
  li {
    float: right;
  }
  .active {
    float: left;
  }
  
  body {
    width: 80%;
    margin: 5rem auto 3rem;
  }
}






